@keyframes slideInDown {
  0% {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.slideInDown {
  animation-name: slideInDown;
}
.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}
