/* You can add global styles to this file, and also import other style files */
 *{
  font-family: 'Potta One', cursive;

}


.spinner-grow{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 150px !important;
  height: 150px !important;
}
